doctype html
html
    head
        title Input de Producto
        include layouts/main.pug
    body
        div(class="container border mt-5 p-3 bg-light")
            h1(class="mb-3") Ingrese un producto
            form(action="/productos/input" method="POST")
                .form-group
                    label(for="title") Nombre:
                    input(class="form-control" name="title" type="text" placeholder="nombre de su producto")

                .form-group
                    label(for="price") Precio:
                    input(class="form-control" name="price" type="text" placeholder="precio de su producto")

                .form-group
                    label(for="thumbnail") Image Url:
                    input(class="form-control" name="thumbnail" type="text" placeholder="thumbnail de su producto")
        
                button(class="btn btn-success" type="submit") Enviar