<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div id="tabla-productos">
                <table class="table table-dark table-striped">
                    <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Imagen</th>
                            </tr>
                    </thead>
                    <tbody id="listado">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>